/* ./css/desktop.css */

body {
    grid-template-areas:  
        "a-top a-top a-top a-top"
        ". a-content a-comments ."
        "a-bottom a-bottom a-bottom a-bottom";
    grid-template-columns: 
        auto
        minmax(auto, calc(1360px * 0.7)) 
        minmax(auto, calc(1360px * 0.3)) 
        auto;
}

.container {
    border: 3px solid #d291bc;
    margin: 0 auto;
    max-width: 1360px;
    height: 100%;
    min-height: 50px;
}

section {
    display: block;
}

section > article {
    margin: 20px;
    width: calc(100% - 40px);
}